@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

input {
  border: lightgray solid 1px;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  width: 28px;
  height: 28px;
  font-family: inherit;
  font-size: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.subject-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  justify-content: space-around;
}

.subject {
  justify-self: center;
  border: orange solid 2px;
  border-radius: 10px;
  margin: 2%;
  width: 90%;
  max-height: max-content;
  transition: max-height 0.4s ease-in;
}

.subject-title {
  margin: 0;
  padding: 2%;
  font-size: 1.2em;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}

.subject-title-dark {
  background: orange;
}

.subject-inside {
  background: orange;
  border-radius: 5px;
  transition: max-height 0.4s ease-in;
  overflow: hidden;
  max-height: max-content;
}

.subject-grades {
  display: flex;
  justify-content: space-around;
  padding: 4%;
  background: white;
}

.subject-section-p {
  display: grid;
  grid-template-rows: repeat(6, 45px);
  margin: 0 18% 0 4%;
  width: 100px;
}

.subject-section-t {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  grid-template-rows: repeat(8, 35px);
  column-gap: 30%;
  width: 300px;
}

.subject-p-item,
.subject-t-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subject-collapse {
  max-height: 0;
  border-top: none;
  transition: max-height 0.4s ease-out;
}

.subject-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2% 0;
}

.subject-stat {
  display: flex;
  justify-content: space-between;
}

.subject-stat label {
  margin-right: 30px;
}

.subject-stat span {
  font-weight: 700;
}

.subject-stat-header {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 1.025em;
}

@media (max-width: 540px) {
  .subject-section-p {
    margin: 0 9% 0 8%;
    width: 100px;
  }

  .subject-section-t {
    column-gap: 15%;
    width: 300px;
  }
}

@media (max-width: 420px) {
  .subject-section-p {
    margin: 0 9% 0 6%;
  }

  .subject-section-t {
    column-gap: 15%;
  }

  .subject-stat label {
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .subject-section-p {
    margin: 0 9% 0 4%;
  }

  .subject-section-t {
    column-gap: 12%;
  }
}