body {
    font-family: sans-serif;
}

.subject-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

input {
    border: lightgray solid 1px;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    width: 28px;
    height: 28px;
    font-family: inherit;
    font-size: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.subject {
    justify-self: center;
    border: orange solid 2px;
    border-radius: 10px;
    margin: 2%;
    max-height: 25px;
    transition: max-height 0.4s ease-in;
    width: 90%;
}

.subject-open, .subject-always-open {
    max-height: 500px;
    transition: max-height 0.4s ease-in;
}

.subject-title {
    padding: 1%;
    border-radius: 8px;
    transition: background-color 0.5s ease-out;
    cursor: pointer;
}

.subject-bg-orange {
    background: orange;
}

.subject-inside {
    background: orange;
    border-radius: 5px;
    transition: max-height 0.4s ease-in;
    overflow: hidden;
    max-height: 500px;
}

.subject-grades {
    display: flex;
    padding: 1%;
    background: white;
}

/* improve section-p and section-t */
.subject-section-p {
    display: grid;
    grid-template-rows: repeat(6, 47px);
    margin: 2%;
    width: 36%; 
}

.subject-section-t {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(8, 35px);
    margin: 2%;
    width: 56%;
}

.subject-collapse {
    max-height: 0;
    border-top: none;
    transition: max-height 0.4s ease-out;
}

.subject-stats {
    padding: 1%;
}

.subject-option {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-top: 10px;
}
  
.subject-subtext {
    color: rgb(180, 180, 180);
    font-size: 0.75em;
}

.subject-input {
    display: none;
}

.subject-checkbox {
    position: absolute;
    top: -33px;
    left: 70px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}
  
.subject-checkbox:hover {
    background-color: #ccc;
}
  
.subject-input:checked ~ .subject-checkbox {
    background-color: orange;
}

.subject-input:checked + .subject-checkbox:hover {
    background-color: darkorange;
}

.subject-checkbox:after {
    content: "";
    position: absolute;
    display: none;
    width: 6px;
    height: 10px;
    left: 6px;
    top: 2px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.subject-input:checked ~ .subject-checkbox:after {
    display: block;
}